

PORT=8000


#Database connection string
DATABASE_URL="your-postgresql-connection-string"



ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d


CORS_ORIGIN="http://localhost:5173"


# Resend
RESEND_API_KEY=
EMAIL_FROM=onboarding@resend.dev

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=


NODE_ENV=development


ML_API_URL=http://localhost:5000
ML_MODEL_VERSION=v1.0.0